# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python 
# azure-monitor-opentelemetry 

azure-functions
fastapi
uvicorn
pydantic
pydantic-ai
lancedb
google-generativeai
python-dotenv
requests
streamlit

